<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Haldun Bayhantopcu" />

  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div class="site">
  <div class="title">
    <a href="/">hb</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        hb<br />
        hb@haldun.me
      </p>
    </div>
    <div class="contact">
    </div>
    <div class="rss">
    </div>
  </div>
</div>
</body>
</html>
